<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateBookServlet</servlet-name>
        <servlet-class>controller.CreateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>controller.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>controller.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connServlet</servlet-name>
        <servlet-class>controller.connServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookServlet</servlet-name>
        <servlet-class>controller.ListBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllBookServlet</servlet-name>
        <servlet-class>controller.ListAllBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>controller.EditBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBookServlet</servlet-name>
        <url-pattern>/CreateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connServlet</servlet-name>
        <url-pattern>/connServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookServlet</servlet-name>
        <url-pattern>/ListBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllBookServlet</servlet-name>
        <url-pattern>/ListAllBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/EditBookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
